html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: "Times New Roman", Times, serif;
    justify-items: center;
    align-items: center;
    background-color: rgb(216, 216, 216);
}

#slogan{
    font-size: 45px;
    bottom: 99%;
    position: absolute;

}

#homeNav {
    position: absolute;
    top: 2%;
    left: 45%;
}

#contactDiv {
    position: absolute;
    top: 30%;
    left: 35%;
}
