html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: "Times New Roman", Times, serif;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: rgb(216, 216, 216);
}

.h1 {
    color: #420079;
}

#indexH1 {
    position: absolute;
    top: 5%;
    left: 30%;
}

#slogan {
    position: absolute;
    top: 28%;
    left: 25%;
}

#indexP {
    position: absolute;
    top: 56%;
    left: 39%;
}

.button {
    width: 15%;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #535353;
    cursor: pointer;
    outline: none;
}

#employeeButton {
    position: absolute;
    bottom: 25%;
    right: 50%;
}

#managerButton {
    position: absolute;
    bottom: 25%;
    right: 34%;
}
